/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i'); */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
  
}
:root {
    --bg-color: #000;
    --text-color: #fff;
  }
p{
    font-weight: 300;
    color: var(--text-color);
}
body{
    min-height: 1000px;
    background-color: var(--bg-color);
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: left;
}
.banner .content h2{
    font-size: 35px;
    color: var(--text-color);
}

.banner .content p{
    font-size: 20px;
    color: var(--text-color);
}
.button{
    font-size: 20px;
    color: var(--text-color);
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    
}


header .logo{
    color: green;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span{
    color: var(--text-color);
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 25px;
}

header .navigation li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
}

header.sticky{
    /* background: #5dbb63; */
    background-color: #03a04a;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
    color: var(--bg-color);
}
header.sticky .logo span{
    
    color: var(--text-color);
}

header.sticky .navigation li a{
    text-decoration: none;
    color: var(--bg-color);
    font-weight: 300;
}
header.sticky .navigation li a:hover{
    color: var(--text-color);
}
.title h2{
    font-size: 35px;
    color: var(--text-colorx);
    text-align: center;
}
@media (max-width:991px) {
    header,
    header.sticky{
        padding: 10px 20px;
    }
}